.container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 2rem;

}
.container:hover{
     background: rgb(224,224,224);
}
.bu-name{
    font-size: 2.4rem;
    text-transform: uppercase;
    padding: 10px;
}
.count{
font-size: 1.8rem;
font-weight: 500;
padding: 1rem;
margin-bottom: 2rem;
}
.card-btn{
    padding: .8rem 1.4rem;
    background-color: rgb(255,87,81);
    color:white;
    border: none;
    cursor:pointer;
    width: 100%;

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    gap:1rem;
    overflow: hidden;
}